<!DOCTYPE html>
<html>
<head>
  <title>Everyday is Different</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap-switch.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/vendor/custom-css/jumbotron-narrow.css" rel="stylesheet">
  <link href="/vendor/custom-css/social-likes_birman.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div class="container">

        <div class="header">
          <nav>
            <ul class="nav nav-pills pull-right">          
             <% if !session[:identity] %>
             <li role="presentation" class= <%= "active" if active_page? %>><a href="/">Home</a></li>
             <% end %>
             <% if session[:identity] %>
                <li role="presentation" class= <%= "active" if active_page? %>><a href="/secure/list">Quraan</a></li>
             <% else %>
                <li role="presentation"><a href="/secure/list">Quraan</a></li>
             <% end %>
             <% if session[:identity] %>
             <li class= <%= "active" if check_in? %>><a href="/secure/how_was_your_day">Checked In</a></li>
             <% else %>
             <li class= <%= "active" if check_in? %>><a href="/public/getstarted">Check In</a></li>
             <% end %>
             <% if session[:identity] %>
             <li class= <%= "active" if active_page?('secure/results') %> role="presentation"><a href="/secure/results">Results</a></li>
             <% end %>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= username%> 
                <% if session[:identity] %>
                <img src='<%= profile_type %>' width=16 height=16 ></img>
                <% end %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                 <% if !session[:identity] %>
                 <li><a href="/public/getstarted">Login</a></li>
                 <% else %>
                 <!-- <li class="divider"></li> -->
                 <li><a href="/secure/me">Me</a></li>
                 <li><a href="/logout">Logout</a></li>
                 <% end %>
               </ul>
             </li>
           </ul>          
         </nav>
         <h3 class="text-muted">Everyday Is Different &nbsp<i><font color='green' size="2px">Beta</i></font></h3>
       </div>

       <!-- Static navbar -->
      
       <% if @alert %>
       <div class="alert alert-<%= @alert['type']%> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= @alert['message'] %>
      </div>       
      <% end %>
      
       <%= yield %>
       <footer class="footer">
<div>
<a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=n400.salihu.info&digit=style/plain/6/&reloads=0" alt="" title="" border="0"></a><br /><a href="http://www.fabbly.com" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">Fabbly.com</a>
</div>
          &copy; Company 2015. 
<!--          <div class="social-likes">

          <div class="facebook" title="Share link on Facebook">Facebook</div>
          <div class="twitter" title="Share link on Twitter">Twitter</div>
          <div class="plusone" title="Share link on Google+">Google+</div>

        </div> 
 -->
      </footer>

    </div> <!-- /container -->


    <script src="http://www.google.com/jsapi"></script>
    <script src="/vendor/chartkick.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery/jquery-2.1.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap-switch.min.js"></script>
    <script src="/vendor/custom-js/social-likes.min.js"></script>
    <script type="text/javascript">
    $(function() {
      $("[name='notify-me']").bootstrapSwitch();
      $('[name="notify-me"]').on('switchChange.bootstrapSwitch', function(event, state) {
  			//	console.log(this); // DOM element
  			//	console.log(event); // jQuery event
  			//	console.log(state); // true | false
        $.ajax({
          url: '/secure/notify_update',
          data: {
            notify: state
          },
          error: function() {
            //$('#info').html('<p>An error has occurred</p>');
          },
          dataType: 'jsonp',
          success: function(data) {
            // var $title = $('<h1>').text(data.talks[0].talk_title);
            // var $description = $('<p>').text(data.talks[0].talk_description);
            // $('#info')
            // .append($title)
            // .append($description);
          },
          type: 'POST'
        });          
      });
    });  
    </script>   
  </body>
  </html>
